<h1>Hello, <%=@user.username%></h1>
<%# Create a form object that's going to display all characters associated with this user in a list, and put buttons next to them using a formaction="" attribute for edit and kill %>
<form action="/characters"><input type="submit" value="create character"></form>
<%# Add a logut button on screen as well %>