<h1>Create your Character!</h1>

<form action="/characters/new" method="POST">
    <label>Name</label><input type="text" name="name">
    <label>Class</label><input type="text" name="class">
    <label>Race</label><input type="text" name="race">
    <label>Strength</label><input type="number" name="strength">
    <label>Dexterity</label><input type="number" name="dexterity">
    <label>Constitution</label><input type="number" name="constitution">
    <label>Intelligence</label><input type="number" name="intelligence">
    <label>Wisdom</label><input type="number" name="wisdom">
    <label>Charisma</label><input type="number" name="charisma">
    <input type="submit" value="create character">
</form>