<h1>Hello from characters!</h1>

<form action="/characters/new" method="POST">
    <label>Name</label><input type="text" name="name">
    <label>Class</label><input type="text" name="class">
    <label>Race</label><input type="text" name="race">
    <label>Strength</label><input type="text" name="strength">
    <label>Dexterity</label><input type="text" name="dexterity">
    <label>Constitution</label><input type="text" name="constitution">
    <label>Intelligence</label><input type="text" name="intelligence">
    <label>Wisdom</label><input type="text" name="wisdom">
    <label>Charisma</label><input type="text" name="charisma">
    <input type="submit" value="character_created">
</form>